app/bootstrap*

vendor/*
*/logs/*
*/cache/*
*/uploads/*
web/bundles/*
web/js/*
web/css/*

app/config/parameters.ini

*/uploads/*
*/images/homepage/*

.sass-cache

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

.*
!.gitignore
*~
